@import "tailwindcss";

body {
  background-color: #0a0a0a;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

@media (max-width: 640px) {
  body {
    font-size: 14px !important;
  }
  [placeholder] {
    font-size: 10px !important;
  }
  .inputTask {
    flex-grow: initial !important;
    width: 200px !important;
  }
  .DeleteAll_btn {
    font-size: 12px !important;
  }
  .tasks_list {
    max-height: 80vh !important;
    width: 92vw !important;
    font-size: 14px !important;
  }
  .WelcomeBack{
    font-size: 14px !important;
  }
  .toDoListTitle{
    font-size: 18px !important;
  }
  .AllTitle{
    font-size: 12px !important;
  }
  .filterDrop select option {
    font-size: 12px !important;
  }
  .logout_Btn {
    position: fixed;
    font-size: 13px;
    top: 20px;
    right: 22px;
    height: 30px;
  }
}
